<div class="container content">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <span class="anchor" id="formLogin"></span>
      <!-- form	card	login	with	validation	feedback	-->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Product</h3>
        </div>
        <div class="card-body">
          <app-productform (onItemAdded)="add($event)"></app-productform>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5" />
  <div class="row">
    <app-product
      *ngFor="let d of productsApiClient.getAll(); let i = index"
      [product]="d"
      [index]="i + 1"
      (clicked)="add($event)"
    >
    </app-product>
  </div>
</div>
